@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFFFFA;
    margin: 0;
    font-family: "poppins";
}

header nav {
     width: 25%;
     height: 100%;
     max-width:1000px;
     margin:0;
     background: #024959;
     position:fixed;
     left:-100%;
}
.menu_bar {
    display:block;
    width:100%;
    background:#ccc;
}
header nav ul {
    overflow:hidden;
    list-style:none;
}

    header nav ul li {
        float: left;
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255,255,255, .3)
    }

header nav ul li a {
    color:#fff;
    padding: 20px;
    display:block;
    text-decoration:none;

}
header nav ul li span {

    margin-right:10px;
    font-size: 1.7em;
}
header nav ul li a:hover {
    background:#037E8C;
}
section {
    padding: 20px;
}
.menu_bar .bt-menu {
    display: block;
    padding: 30px;
    background: #024959;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 2em;
}

.menu_bar span {
    margin:0;
    padding:0;
    float:left;
    font-size: 40px;
}

